---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 80
ContinuationIndentWidth: 2
AlignAfterOpenBracket: BlockIndent
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AllowShortFunctionsOnASingleLine: None
ExperimentalAutoDetectBinPacking: false
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakAssignment: 2
PenaltyExcessCharacter: 1000000
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterStruct: false
  AfterUnion: false
  AfterFunction: false
  AfterControlStatement: false
  AfterEnum: false
  AfterNamespace: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeColon
BreakConstructorInitializersBeforeComma: true
BreakInheritanceList: BeforeColon
BreakTemplateDeclarations: true
PointerAlignment: Left
PenaltyReturnTypeOnItsOwnLine: 1000
AlwaysBreakBeforeMultilineStrings: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
